.container {
  box-sizing: border-box;
  width: 1219px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 54px;
}

.header {
  position: fixed;
  width: 100%;
  height: 84px;

  background: #007765;
}
.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.menu {
  padding-top: 29px;
  margin-left: auto;
  text-align: right;
}
.menu-item {
  display: inline-block;
  font-family: "Roboto", sans-serif;

  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}
.divider {
  display: inline-block;
  font-family: "Roboto", sans-serif;

  font-weight: 300;
  font-size: 24px;
  margin: 0 8px;
  color: #ffffff;
}
.background {
  background-image: url(jpg/image\ \(1\).png);
  width: 100%;
  height: 403px;
  background-size: cover;
  background-position: center center;
}
.title {
  font-family: "Roboto", sans-serif;
  padding-top: 160px;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  text-align: center;

  color: #ffffff;
}
.block {
  width: 100%;
  height: 719px;
  background: #eeeeee;
}
.title1 {
  padding-top: 48px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 75px;

  text-align: center;

  color: #007765;
}
.discription {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 38px;
  padding-top: 16px;

  color: #000000;
}

.fat {
  font-weight: 600;
}
.background2 {
  background-image: url(jpg/image\ \(2\).png);
  width: 100%;
  height: 483px;
  background-size: cover;
  background-position: center center;
}

.title2 {
  padding-top: 128px;
  padding-bottom: 127px;
  padding-left: 163px;
  padding-right: 163px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-align: center;

  color: #ffffff;
}
.block2 {
  width: 100%;
  height: 604px;
  background: #ffffff;
}

.logo2 {
  padding-top: 16px;
  float: left;
}
.discription2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-top: 16px;
  padding-left: 163px;
  padding-right: 16px;
  font-weight: 100;
  font-size: 32px;
  line-height: 38px;

  color: #000000;
}
.discription3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-top: 40px;
  padding-bottom: 91px;
  font-weight: 100;
  font-size: 32px;
  line-height: 38px;

  color: #000000;
}
.block3 {
  width: 100%;
  height: 845px;

  background: #eeeeee;
}

.member {
  padding-top: 35px;
  display: inline-block;
  width: 33%;
  height: 283px;
  text-align: center;
}

.photo {
  display: block;
  width: 168px;
  height: 168px;
  margin: 0 auto;
}
figcaption {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-top: 12px;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;

  color: #007765;
}

.information {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.block4 {
  width: 100%;
  height: 176px;

  background: #333333;
}

.description {
  font-family: "Roboto", sans-serif;
  padding-top: 48px;
  padding-bottom: 64px;
  padding-left: 340px;
  padding-right: 339px;
  font-style: normal;
  font-weight: 10px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
}
