.container {
  
width: 1100px;
max-width: o auto;
margin-left: 55px ;
margin-right: 54px;

}

.header {
position: relative;
width: 1219px;
height: 84px;


background: #007765;
}
.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}
.menu{
  padding-top: 29px;
  margin-left: auto;
  text-align: right;
}
.menu-item {
  display: inline-block;
  font-family: 'Roboto',sans-serif;
   
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
}
.divider {
  display: inline-block;
  font-family: 'Roboto',sans-serif;
   
  font-weight: 300;
  font-size: 24px;
  margin: 0 8px;
  color: #FFFFFF;
}